rules_version = '2';

// Reglas para Firebase Storage que permiten operaciones para usuarios autenticados
service firebase.storage {
  match /b/{bucket}/o {
    // Permite leer y escribir archivos en la carpeta studies/ para usuarios autenticados
    match /studies/{allPaths=**} {
      allow read, write: if true; // Cambiar a 'request.auth != null' cuando tengas autenticación
    }
    
    // Regla más restrictiva para otras rutas
    match /{allPaths=**} {
      allow read, write: if true; // Cambiar a 'request.auth != null' cuando tengas autenticación
    }
  }
}
